.card {
  position: relative;
  min-width: 200px;
  max-width: 250px;
  border-radius: 8px;
  border: 1px solid var(--ui-neutral-3);

  transition: 300ms; /* Change as needed */

  transition-duration: 600ms;
  transition-timing-function: cubic-bezier(0.1, 0.77, 0.01, 1);
  transition-property: opacity translate;
  transition-delay: var(--delay, 0);

  figure {
    display: grid;
    place-items: center;
    margin: 0;
    background-color: var(--ui-neutral-1);
    border-radius: 8px 8px 0 0;
  }

  .label {
    display: block;
    position: absolute;
    inset-block-start: 2px;
    inset-inline-end: 2px;
    padding: 4px;
    background: white;
    border-radius: 4px;
    color: var(--ui-ublue-6);
  }

  p {
    padding-inline: 8px;
  }

  .name {
    color: black;
  }
  .short {
    font-size: 12px;
    margin-block-end: 6px;
  }
}
