.grid {
  display: grid;
  min-width: 740px;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  padding: 2rem;
  gap: 1rem;
  transition: 300ms; /* Change as needed */
}

.transparent {
  opacity: 0;
  translate: 10px;
}
