@font-face {
  font-family: "UI Sans";
  src: url(/UI_Sans_v10_Light.woff2) format("woff2");
  /* font-style: normal; */
  font-weight: 200;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "UI Sans";
  src: url(/UI_Sans_v10_Regular.woff2) format("woff2");
  /* font-style: normal; */
  font-weight: 400;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "UI Sans";
  src: url(/UI_Sans_v10_Bold.woff2) format("woff2");
  /* font-style: normal; */
  font-weight: 700;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

:root {
  --ui-ublue-6: #0066ff;
  --ui-neutral-10: #50565e;
  --ui-neutral-8: #b6b9c4;
  --ui-neutral-3: #ededf0;
  --ui-neutral-2: #f4f5f6;
  --ui-neutral-1: #f9fafa;
  --ui-red-6: #f03a3e;
  --ui-red-3: #f9b0b2;
  --text-3: #808893;

  font-family: "UI Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-3);
}

body {
  margin: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 6px;
  margin: 1px;
  border-radius: 4px;
  block-size: 32px;
  min-inline-size: 32px;

  > svg {
    display: block;
  }

  &:hover {
    background-color: var(--ui-neutral-2);
  }

  &:focus-visible {
    outline: 1px solid var(--ui-ublue-6);
    background-color: var(--ui-neutral-2);
  }

  &:active,
  &.active,
  &[data-pressed],
  &[data-selected] {
    background-color: var(--ui-neutral-1);
    color: var(--ui-ublue-6);
    > svg path {
      fill: var(--ui-ublue-6);
    }
  }
}
.btn-danger {
  color: var(--ui-red-6);

  &[disabled] {
    color: var(--ui-red-3);
  }
}
a.btn {
  padding: 0;
}

.big-btn-shadow {
  box-shadow: 0 8px 28px rgba(0 0 0 / 8%), 0 0 1px 0 rgba(0 0 0 / 8%);
}

.header {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 1rem;
  align-items: center;

  height: 50px;
  margin: 0;
  padding-inline: 0.5rem 32px;
  background-color: var(--ui-neutral-2);
}
