.myTable {
  border-collapse: separate;
  border-spacing: 0;
  margin-inline: 32px;

  thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
  }

  tr {
    height: 32px;

    @media (prefers-reduced-motion: no-preference) {
      transition-duration: 600ms;
      transition-timing-function: cubic-bezier(0.1, 0.77, 0.01, 1);
      transition-property: opacity, translate;
      transition-delay: var(--delay, 0);
    }
  }

  td,
  th {
    min-width: 24px;
    padding-inline: 8px;
    vertical-align: middle;
    border-block-end: 1px solid var(--ui-neutral-3);

    img {
      display: block;
    }
  }

  th {
    text-align: left;
    color: black;
  }
}
.transparent {
  opacity: 0;
  translate: 10px;
}
